* {
  font-family: "Press Start 2P", cursive;
}

body {
  background: url(./assets/cyberpbg.jpg);
  height: 100%vh;
}

.main-text {
  color: #bb18a3;
}

.grid {
  display: grid;
  grid-template-columns: 320px 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 3px;
  background: rgba(106, 26, 143, 0.5);
}

.play-button {
  background-color: #ff95c0;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
